<!doctype HTML>

<html>
  <head>
    <title>Blush Organic Yogurt Marketing</title>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Varela+Round" rel="stylesheet">
  </head>
  <body>   
    <div class='container-fluid' id='homepage'>
      <br><br><h1>Blush Frozen Yogurt Marketing Text Manager</h1>
      <br><br><br><br><br>
      <div class='container'>
      <form class='text-form' action='/send-text' method='POST'>
        <h2>Select a marketing message.</h2>
        <select name='message'>
          <option value='Stop by Blush today for $1 off our classic Dragonfruit flavored frozen yogurt!'>
            Stop by Blush today for $1 off our classic Dragonfruit flavored frozen yogurt!
          </option>
          <option value='Need to beat the heat? Cookies and Cream yogurt is only $1 today at Blush!'>
            Need to beat the heat? Cookies and Cream yogurt is only $1 today at Blush!
          </option>
          <option value='What is better than ice cream? Blush Frozen Yogurt!'>
            What is better than ice cream? Blush Frozen Yogurt!
          </option>
          <option value='We miss you at Blush Frozen Yogurt! Come see us soon!'>
            We miss you at Blush Frozen Yogurt! Come see us soon!
          </option>
          <option value='$3 large frozen yogurt with toppings at Blush- today only!'>
            $3 large frozen yogurt with toppings at Blush- today only!
          </option>
          <option value='Your Blush double points are here! Reply YES to claim.'>
            Your Blush double points are here! Reply YES to claim.
          </option>
          <option value='Our new Blush Yogurt Mission location is open today!'>
            Our new Blush Yogurt Mission location is open today!
          </option>
        </select>
        <br><br>
        <button class='btn btn-lg btn-block' type='submit'>Market to Your Subscribers!</button>
      </form>
    </div>
    </div>
  </body>
</html>