<!doctype HTML>

<html>
  <head>
    <title>Blush Organic Yogurt Marketing</title>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  </head>
  <body>   
    <div class='container-fluid' id='homepage'>
      <br><br><h1>Blush Frozen Yogurt Marketing Text Manager</h1>
      <br><br><br><br><br><br><br><br>
      <form class='text-form' action='/send-text' method='POST'>
        <button class='btn btn-lg btn-block' type='submit'>Market to Your Subscribers!</button>
      </for
    </div>
  </body>
</html>